services:
  nginx:
    build:
      context: .
    entrypoint: nginx

  app:
    build:
      context: .
    develop:
      watch:
        - action: sync+restart
          path: ./nginx/conf.d/
          target: /etc/nginx/conf.d/
        - action: sync+restart
          path: ./nginx/html/
          target: /usr/share/nginx/html/
    environment:
      - NGINX_PORT=8080
    ports:
      - ${NGINX_PORT:-8080}:${NGINX_PORT:-8080}
