# https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions

name: Tag Repository Workflow

on:
  push:
    paths-ignore:
      - .github/**
      - .gitignore
      - README.md
    branches:
      - main

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  image:
    name: Build
    uses: gitops-ci-cd/.github/.github/workflows/build.yaml@main
